header
.container
	h3 Panel actions
	.actions
		a.btn.btn-success.header-actions(href='/create' role='button') Create new contact
		a.btn.btn-success.header-actions(href='/list'   role='button') View contact list