doctype
html
  head
    title= "my title"
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="../styles/main.css" type="text/css")
  body
    block header
      include header
    block content